gunicorn
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
filelock
Flask
Flask-Cors
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
requests-file
scikit-learn
scipy
seaborn
six
threadpoolctl
tld
tldextract
tqdm
tzdata
urllib3
Werkzeug
xgboost